# This file may be used to create an environment using:
# platform: linux-64
_openmp_mutex
absl-py
adwaita-icon-theme
aom
astunparse
async-timeout
at-spi2-atk
at-spi2-core
atk-1.0
baselines
bcrypt
blinker
brotli
bzip2
ca-certificates
cachetools
cairo
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
cycler
cython
dav1d
dbus
dbus-python
decorator
dill
distlib
distro
epoxy
expat
fasteners
ffmpeg
filelock
flatbuffers
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonttools
freetype
fribidi
future
gast
gdk-pixbuf
glfw
glib
glib-tools
gmp
google-auth
google-auth-oauthlib
google-pasta
graphite2
grpcio
gstreamer
gtk3
gym
h5py
harfbuzz
hicolor-icon-theme
httplib2
icu
idna
ifaddr
imageio
importlib-metadata
jax
jaxlib
jeepney
joblib
keras
keyutils
kiwisolver
krb5
lame
lcms2
ld_impl_linux-64
lerc
libabseil
libass
libbrotlicommon
libbrotlidec
libbrotlienc
libclang
libcups
libcxx
libcxxabi
libdeflate
libdrm
libedit
libegl
libevent
libexpat
libffi
libgcc
libgcc-ng
libgfortran
libgfortran-ng
libgfortran5
libgirepository
libgl
libglib
libglvnd
libglx
libgomp
libhwloc
libiconv
libjpeg-turbo
libnl
libnsl
libogg
libopenvino
libopenvino-auto-batch-plugin
libopenvino-auto-plugin
libopenvino-hetero-plugin
libopenvino-intel-cpu-plugin
libopenvino-intel-gpu-plugin
libopenvino-intel-npu-plugin
libopenvino-ir-frontend
libopenvino-onnx-frontend
libopenvino-paddle-frontend
libopenvino-pytorch-frontend
libopenvino-tensorflow-frontend
libopenvino-tensorflow-lite-frontend
libopus
libpciaccess
libpng
libprotobuf
librsvg
libsodium
libsqlite
libstdcxx
libstdcxx-ng
libtiff
libuuid
libva
libvpx
libwebp-base
libxcb
libxcrypt
libxkbcommon
libxkbfile
libxml2
libzlib
markdown
markupsafe
matplotlib
ml-dtypes
more-itertools
mpi
mpi4py
mujoco-py
ncurses
numpy
oauthlib
ocl-icd
opencv-python
openh264
openjpeg
openmpi
openssl
opt-einsum
packaging
pandas
pango
paramiko
pcre2
pillow
pip
pixman
platformdirs
progressbar2
protobuf
pthread-stubs
pugixml
pyasn1
pyasn1-modules
pycairo
pycparser
pyglet
pygobject
pynacl
pyparsing
python
python-dateutil
python-utils
python_abi
pytz
readline
rencode
requests
requests-oauthlib
rpl-environments
rsa
scipy
seaborn
secretstorage
setproctitle
setuptools
six
snappy
sqlite
sshpass
svt-av1
tbb
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tk
tqdm
typing-extensions
tzdata
urllib3
virtualenv
wayland
wayland-protocols
werkzeug
wheel
wrapt
x264
x265
xkeyboard-config
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxcomposite
xorg-libxcursor
xorg-libxdamage
xorg-libxdmcp
xorg-libxext
xorg-libxfixes
xorg-libxi
xorg-libxinerama
xorg-libxrandr
xorg-libxrender
xorg-libxres
xorg-libxtst
xorg-xineramaproto
xorg-xorgproto
xpra
xxhash
xz
zeroconf
zipp
zlib
zstd
